
.dialog {
    background-color: rgba(255, 255, 255, 1);
    /* padding: 10px 30px; */
    margin: 40px;
    max-width: 500px;
    min-width: 250px;
    box-shadow: 0px 0px 25px rgba(60, 179, 113, 0.3);
    border: dotted,1px;
      border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  }

.dialog .button {
    display: block;
    margin: 0 auto;
    border: none;            /* Remove all borders */
    border-top: 1px dotted; /* Add dotted bottom border */
            /* Optional: Add some padding for better appearance */
    background: transparent; /* Optional: Remove background color */
    cursor: pointer;         /* Optional: Show pointer cursor on hover */
    width: 100%;
    height: 30px;
}

/* Optional: Add hover effect */
.dialog .button:hover {
  border: 1px dotted; /* Change to solid on hover for example */
  background-color: rgba(60, 179, 113, 0.3);
}